html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D5C9D7;
    padding: 5px 30px;
    font-size: 18px;
}

.navbar-logo img {
    height: 56px;
}

.navbar-links {
    color: #844881;
    display: flex;
    margin-left: auto;
    gap: 2rem; /* Space between links */
    cursor: pointer;
    text-decoration: none;
}

.navbar-links a:first-child {
    font-weight:bold;
    text-decoration: none;
    color: black;
}
/* Default button styling */
.navbar-buttons a {
    text-decoration: none;
    margin: 0 5px;
    padding: 0.5rem 10px;
    border-radius: 5px;
}

/* signup button (darker color with white text) */
.navbar-buttons a.signup {
    background-color: #844881;  /* Dark blue/gray color for Login */
    color: white;  /* White text */
}

.navbar-buttons a.signup:hover {
    background-color: #6b2567;  /* Slightly darker blue on hover */
}



.separator {
    margin-right: 20px;
}